* {
  margin: 0;
  padding: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}

html{
  background: rgb(22, 22, 22);
  color: #ecf0f1;
  font-family: "Open Sans", sans-serif;
}

.btn2 {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 100px;
  color: white;
  padding: 10px 14px;
  font-size: 14px;
  cursor: pointer;
}

.btn2 .fa{
  position: relative;
    left: 2px;
}

/* Darker background on mouse-over */
.btn2:hover {
  background-color: RoyalBlue;
}

.container{
  width: 100%;
  
}

.slider_details{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 16px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 450ms opacity;
}

.slider-container .slide:hover .slider_details {
  opacity: 1;
}

.slider-container .slider_title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.slider-container .slider_title span{
  
  font-weight: 800;
  display: block;
  position: relative;
  padding-bottom: 20px;
}




.slider-container .slider_title:after {
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.slider_details:after, .slider_details:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-container .slider_details:before {
  content: "▶";
  font-size: 30px;
  line-height: 30px;
  margin: 2px;
  text-align: center;
  z-index: 2;
}

.nf-svg-icon {
  width: 30px;
  display: inline-block;
  color: #e50914;
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.slider-frame {
  background-color: #1b1b1b;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.slider-frame .btn {
  width: 40px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  z-index: 1000;
}

.slider-frame .btn.prev {
  left: 0px;
  display: none;
}

.slider-frame .btn.next {
  right: 0px;
  transform: rotate(180deg);
}

.slider-frame .slider-container {
  -webkit-transition: margin-left .2s ease, left .5s ease;
  transition: margin-left .2s ease, left .5s ease;
  position: absolute;
  left: 0;
}

.slider-frame .slider-container .slide {
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  position: relative;
  top: 0;
  -webkit-transition: width .2s ease, height .2s ease, top .2s ease;
  transition: width .2s ease, height .2s ease, top .2s ease;
}